@import "../../css/colors.css";
@import "../../css/units.css";

.user-thumbnail {
    width: $menu-bar-button-size;
    height: $menu-bar-button-size;
    border-radius: 50%; /* 圆形头像 */
    vertical-align: middle;
    box-shadow: 0 0 0 1px $ui-black-transparent;
    object-fit: cover; /* 保证图片不变形 */
}
